  
svg{
  shape-rendering: geometricPrecision; 
}
  
.spacer{
  padding-top: 20px;
}
    
.spacerbig{
  padding-top: 40px;
}
  
  #datadiv { 
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    font-size: 10px;
}
  
  #sidebar{
    
    margin-right: 50px;
  }